@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: rgb(237, 243, 248);
  background-image: url(../images/bg-header.png);
  background-repeat: no-repeat;
  background-size: 640px 608px;
  background-position: right top;
}

h1, h2, h3 {
  font-family: "DM Serif Display", sans-serif;
}

@media only screen and (max-width: 850px) {
  body {
    background-image: url(../images/tablet-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url(../images/mobile-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0 74px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.header__logo-link {
  display: inline-block;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.nav__link {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #6E8396;
  transition: all 0.3s linear;
}
.nav__link:hover {
  color: #36536B;
}
.nav__link:active {
  opacity: 0.6;
  cursor: grabbing;
}

.header__btn {
  display: inline-block;
  width: 173px;
  padding: 15px 0;
  border-radius: 30px;
  border: 2px solid rgb(186, 66, 112);
  background-color: rgb(186, 66, 112);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(251, 252, 254);
}
.header__btn:hover {
  background-color: transparent;
  color: rgb(186, 66, 112);
}
.header__btn:active {
  opacity: 0.6;
  background-color: rgb(186, 66, 112);
  color: rgb(251, 252, 254);
  cursor: grabbing;
}

.hamburger__btn {
  border: none;
  background-color: transparent;
  display: none;
}

.modal__close-btn {
  display: none;
}

.header__modal-outer {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 50;
  transition: all 0.3s linear;
}

.modal__inner {
  position: fixed;
  padding: 48px 24px 0 24px;
  z-index: 51;
  right: 0;
  width: 75%;
  height: 100vh;
  background-color: rgb(27, 38, 47);
  text-align: center;
}

.modal__close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
}

.show-outer {
  right: 0;
}

.show-inner {
  right: 0;
}

.scrol-hidden {
  overflow-y: hidden;
}

.modal__line {
  display: block;
  margin: 24px 0 43px;
  height: 1px;
  width: 100%;
  background-color: rgb(251, 252, 254);
}

.modal__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 32px;
}

.modal__link {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: rgb(251, 252, 254);
  opacity: 0.6;
}

.modal__contact-link {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border-radius: 30px;
  border: 2px solid rgb(186, 66, 112);
  background-color: rgb(186, 66, 112);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(251, 252, 254);
}
.modal__contact-link:hover {
  background-color: transparent;
  color: rgb(186, 66, 112);
}
.modal__contact-link:active {
  opacity: 0.6;
  background-color: rgb(186, 66, 112);
  color: rgb(251, 252, 254);
  cursor: grabbing;
}

@media (max-width: 900px) {
  .site-header {
    padding: 40px 0 48px;
  }
}
@media (max-width: 660px) {
  .site-header {
    padding: 40px 0 32px;
  }
  .nav__list {
    display: none;
  }
  .hamburger__btn {
    display: block;
  }
  .header__btn {
    display: none;
  }
}
.hero-section {
  padding: 0px 0 75px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 206px;
}

.hero__content {
  max-width: 555px;
  width: 100%;
}

.hero__title {
  margin-bottom: 21px;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  color: #36536B;
  letter-spacing: -0.55px;
}

.hero__form {
  width: 445px;
  margin-bottom: 16px;
}

.form__label {
  width: 100%;
  position: relative;
}

.hero__input {
  padding: 15px 5px 15px 27px;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background-color: rgb(251, 252, 254);
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(54, 83, 107);
}
.hero__input::-moz-placeholder {
  color: rgba(54, 83, 107, 0.7);
}
.hero__input::placeholder {
  color: rgba(54, 83, 107, 0.7);
}

.hero__btn {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 173px;
  padding: 14px 0;
  border-radius: 30px;
  border: 2px solid rgb(186, 66, 112);
  background-color: rgb(186, 66, 112);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(251, 252, 254);
}
.hero__btn:hover {
  background-color: transparent;
  color: rgb(186, 66, 112);
}
.hero__btn:active {
  opacity: 0.6;
  background-color: rgb(186, 66, 112);
  color: rgb(251, 252, 254);
  cursor: grabbing;
}

.hero__text {
  margin-left: 27px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(108, 130, 148);
}

.hero__text--link {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #6E8396;
  margin-left: 0;
}

@media only screen and (max-width: 936px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
}
@media only screen and (max-width: 850px) {
  .hero-section {
    padding-bottom: 136px;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .hero__img {
    width: 159px;
    height: 300px;
    margin-bottom: 48px;
  }
  .hero__content {
    max-width: 521px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
  }
  .hero__title {
    margin-bottom: 22px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #36536B;
    letter-spacing: -0.37px;
    text-align: center;
  }
  .hero__text {
    text-align: center;
    margin-left: 0;
  }
  .hero__text--link {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: #6E8396;
  }
}
@media only screen and (max-width: 600px) {
  .hero-section {
    padding-bottom: 110px;
  }
  .hero__img {
    width: 127px;
    height: 239px;
    margin-bottom: 24px;
  }
  .hero__content {
    max-width: 327px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
  }
  .hero__title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #36536B;
    letter-spacing: -0.25px;
  }
  .hero__form {
    width: 100%;
    margin-bottom: 24px;
  }
  .form__label {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
  }
  .hero__btn {
    position: static;
    width: 100%;
  }
  .hero__text--link {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: #6E8396;
  }
}
.work-section {
  padding: 100px 0;
  background-color: rgb(27, 38, 47);
  background-image: url(../images/work-bg.png);
  background-repeat: no-repeat;
  background-size: 37%;
  background-position: top left;
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.work__content-wrapper {
  width: 100%;
  max-width: 445px;
}

.work__title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: rgb(251, 252, 254);
  letter-spacing: -0.37px;
}

.work__text {
  margin-bottom: 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(251, 252, 254);
  opacity: 0.6;
}

.work__link {
  display: inline-block;
  width: 129px;
  padding: 15px 0;
  border-radius: 30px;
  border: 2px solid rgb(251, 252, 254);
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(251, 252, 254);
}
.work__link:hover {
  background-color: rgb(251, 252, 254);
  color: rgb(27, 38, 47);
}
.work__link:active {
  opacity: 0.6;
  background-color: transparent;
  color: rgb(251, 252, 254);
  cursor: grabbing;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  flex-wrap: wrap;
  max-width: 536px;
  width: 100%;
  row-gap: 39px;
}

@media only screen and (max-width: 1000px) {
  .work-section {
    padding: 88px 0;
    background-image: url(../images/work-tablet-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 660px) {
  .work__list {
    max-width: 327px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
    row-gap: 39px;
  }
  .work__tesla {
    width: 107px;
    height: 17px;
  }
  .work__mc {
    width: 120px;
    height: 26px;
  }
  .work__hp {
    width: 115px;
    height: 22px;
  }
  .work__ol {
    width: 108px;
    height: 14px;
    margin-left: 30px;
  }
  .work__gog {
    width: 79px;
    height: 27px;
  }
  .work__nvd {
    width: 113px;
    height: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .work-section {
    padding: 88px 0;
    background-image: url(../images/work-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
  .work__title {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: rgb(251, 252, 254);
    letter-spacing: -0.25px;
  }
  .work__text {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 300px) {
  .work__ol {
    width: 108px;
    height: 14px;
    margin-left: 0px;
  }
}
.easy-section {
  padding-top: 150px;
}

.easy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.easy__img {
  margin-right: 29px;
}

.easy__content-wrapper {
  width: 100%;
  max-width: 445px;
}

.easy__title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: rgb(54, 83, 107);
  letter-spacing: -0.37px;
}

.easy__text {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(108, 130, 148);
}

@media only screen and (max-width: 953px) {
  .easy-section {
    padding-top: 100px;
  }
  .easy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-direction: column;
    text-align: center;
  }
  .easy__img {
    width: 410px;
    height: 250px;
    margin-right: 0;
  }
  .easy__content-wrapper {
    max-width: 573px;
  }
}
@media only screen and (max-width: 605px) {
  .easy-section {
    padding-top: 80px;
  }
  .easy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-direction: column;
    text-align: center;
  }
  .easy__img {
    width: 328px;
    height: 209px;
  }
  .easy__content-wrapper {
    max-width: 328px;
  }
  .easy__title {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: rgb(54, 83, 107);
    letter-spacing: -0.28px;
  }
  .easy__text {
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(108, 130, 148);
  }
}
.simple-section {
  padding: 150px 0 146px;
  background-image: url(../images/simple-bg.png);
  background-repeat: no-repeat;
  background-size: 390px 780px;
  background-position: right center;
}

.simple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.simple__content-wrapper {
  max-width: 445px;
  width: 100%;
  margin-right: 30px;
}

.simple__title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: rgb(54, 83, 107);
}

.simple__text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(108, 130, 148);
}

@media (max-width: 953px) {
  .simple-section {
    padding: 100px 0;
    background-image: none;
  }
  .simple__img {
    width: 363px;
    height: 320px;
  }
  .simple {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .simple__content-wrapper {
    max-width: 573px;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .simple-section {
    padding: 80px 0;
    background-image: none;
  }
  .simple__img {
    width: 328px;
    height: 290px;
  }
  .simple__content-wrapper {
    max-width: 328px;
  }
  .simple__title {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: rgb(54, 83, 107);
  }
}
.box-section {
  padding-bottom: 96px;
}

.box__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.box__item {
  text-align: center;
  width: 350px;
}

.box__img {
  margin-bottom: 32px;
}

.box__subtitle {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: rgb(54, 83, 107);
}

.box__text {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(108, 130, 148);
}

@media (max-width: 650px) {
  .box-section {
    padding-bottom: 80px;
  }
  .box__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-direction: column;
  }
  .box__item {
    width: 100%;
  }
}
.ready-section {
  padding-bottom: 96px;
}

.ready {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.ready__title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: rgb(54, 83, 107);
}

.ready__form {
  width: 445px;
}

.ready__label {
  width: 100%;
  position: relative;
}

.ready__input {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 5px 15px 27px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background-color: rgb(251, 252, 254);
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(54, 83, 107);
}
.ready__input::-moz-placeholder {
  opacity: 0.7;
}
.ready__input::placeholder {
  opacity: 0.7;
}

.ready__btn {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 173px;
  padding: 14px 0;
  border-radius: 30px;
  border: 2px solid rgb(186, 66, 112);
  background-color: rgb(186, 66, 112);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(251, 252, 254);
}
.ready__btn:hover {
  background-color: transparent;
  color: rgb(186, 66, 112);
}
.ready__btn:active {
  opacity: 0.6;
  background-color: rgb(186, 66, 112);
  color: rgb(251, 252, 254);
  cursor: grabbing;
}

@media (max-width: 850px) {
  .ready {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .ready-section {
    padding-bottom: 80px;
  }
  .ready {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .ready__title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: rgb(54, 83, 107);
  }
  .ready__form {
    width: 100%;
  }
  .ready__label {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
  }
  .ready__btn {
    position: static;
    width: 100%;
  }
}
.site-footer {
  padding: 31px 0;
  background-color: rgb(27, 38, 47);
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 36%;
  background-position: right center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.footer__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.footer__logo-link {
  display: inline-block;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.footer__page-link {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.63px;
  color: rgb(251, 252, 254);
  transition: all 0.3s linear;
  opacity: 0.7;
}
.footer__page-link:hover {
  opacity: 1;
}
.footer__page-link:active {
  opacity: 0.5;
  cursor: grabbing;
}

.footer__socia-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.footer__socia-link {
  display: inline-block;
  color: rgb(251, 252, 254);
  transition: all 0.3s linear;
}
.footer__socia-link:hover {
  color: rgb(218, 109, 151);
}

@media (max-width: 800px) {
  .site-footer {
    background-size: 57%;
  }
}
@media (max-width: 650px) {
  .site-footer {
    padding: 41px 0 55px;
    background-image: url(../../images/footer-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
  }
  .footer__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */